
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

docker-compose.yml
/dev/
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/sw.js
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.idea
/tmp
