body {
    background-color: lightgray;
}

[v-cloak] {
    display: none;
}

.v-icon {
    &.bear-it {
        background-image: url('../images/logo2.png');
        width: 24px;
        height: 24px;
        background-position: center center;
        background-size: contain;
    }
}

.btn-icon {
    font-size: 24px;

    &--left {
        margin-right: 10px;
    }
}

.user-name {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    &__name {
        white-space: nowrap;
    }

    &__username {
        margin-left: 3px;
        color: rgba(#000, .54);
        font-size: 0.75em;
    }
}

.clickable-row {
    cursor: pointer;
}
