{% extends 'base.html.twig' %}

{% block body %}
    <div id="app" v-cloak data-config="{{ config|json_encode|e('html_attr') }}">
        {% verbatim %}
        <v-app>
            <alert-list></alert-list>
            <template v-if="loaded">
                <v-navigation-drawer app v-if="hasDrawer" v-model="drawer">
                    <v-list dense nav>
                        <v-list-item link to="/">
                            <v-list-item-icon>
                                <v-icon>dashboard</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>Dashboard</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item link to="/create-task">
                            <v-list-item-icon>
                                <v-icon>build</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title>New task</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>

                        <project-menu></project-menu>
                    </v-list>
                </v-navigation-drawer>

                <v-app-bar app>
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="hasDrawer"></v-app-bar-nav-icon>
                    <v-toolbar-title><v-icon>bear-it</v-icon> BearIT</v-toolbar-title>
                    <div class="flex-grow-1"></div>
                    <profile-menu v-if="loggedIn"></profile-menu>

                    <v-progress-linear :active="fetching" :indeterminate="fetching" absolute bottom></v-progress-linear>
                </v-app-bar>

                <v-main app v-show="loaded">
                    <v-alert
                      color="blue-grey"
                      dark
                      dense
                      icon="mdi-network-off-outline"
                      prominent
                      v-if="offline"
                    >No connection with the server. You are now working in the offline mode</v-alert>
                    <v-container fluid fill-height>
                        <router-view></router-view>
                    </v-container>
                </v-main>
                <v-footer app></v-footer>
            </template>
        </v-app>
        {% endverbatim %}
    </div>
{% endblock body %}
